@model Coursach.MenuComposition

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Удалить блюдо из меню?</h3>
<div>
    <h4>Состав меню</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Меню
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu)
        </dd>

        <dt>
            Блюдо
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishComposition1.Dish1.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
