@model Coursach.MenuComposition

@{
    ViewBag.Title = "Details";
}

<h2>Подробности</h2>

<div>
    <h4>Состав меню</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Меню
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu)
        </dd>

        <dt>
            Блюдо
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishComposition1.Dish1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
