@model Coursach.DishTypes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Удалить этот тип?</h3>
<div>
    <h4>Типы блюд</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
