@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Столовая КОМК</h1>
    <p class="lead">Автоматизирующее приложение alfa</p>
</div>
<html>
<head>
    <title>Hello React</title>
</head>
<body>
<div id="content"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
<script src='@Url.Content("~/Scripts/TestJsx.jsx")'></script>
</body>
</html>