@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">То, на чем можно относительно быстро написать неплохой сайт, если не знаешь php</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Почитай подробнее &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Для начала</h2>
        <p>
            ASP.NET MVC дает нам паттерны какие-то, но в целом лучше тоже
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Читай тут &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Либы</h2>
        <p>Юзай NuGet крч.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Если не понятно, то &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Веб хостинг</h2>
        <p>А про это можешь не читать, в курсовике нечего тебе хостить.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Но если интересно &raquo;</a></p>
    </div>
</div>