@model Coursach.DishComposition

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Удалить этот компонент?</h3>
<div>
    <h4>Состав блюд</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Блюдо
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dish1.Name)
        </dd>

        <dt>
            Ингредиент
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
