@model Coursach.AspNetUserRoles

@{
    ViewBag.Title = "Delete";
}


<h3>Удалить роль пользователя?</h3>
<div>
    <h4>Пользователи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Роль
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetRoles.Name)
        </dd>

        <dt>
            Пользователь
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
